{% extends "base.html" %}
{% block content %}
    <body>
        <h1>Assigned</h1>
            <a href="/assignment_add">Add an assignment</a>
        <table>
            {% for assignment in request.user.created_assignments %}
            <tr>
                <td>{{ assignment.title }}</td>
                <td>
                    <a href="/assignment_edit/{{ assignment.id }}">
                        <button>Edit Assignment</button>
                    </a>
                </td>
                <td>
                    <a href="/assignment_remove/{{ subject.id }}">
                        <button>Remove Assignment</button>
                    </a>
                </td>
            </tr>
        {% endfor %}
        </table>
        <table>
            {% for assignment in request.user.assignments_todo %}
            <tr>
                <td>{{ assignment.title }}</td>
            </tr>
            {% endfor %}
        </table>
    </body>
{% endblock content %}
